<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>HGSPluginAPIVersion</key>
	<string>${VERMILLION_PLUGIN_API_VERSION}</string>
	<key>HGSExtensions</key>
	<array>
		<dict>
			<key>HGSExtensionClass</key>
			<string>KeychainItemsSource</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.yourcompany.source.KeychainItems</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>KeychainItems Source</string>
			<key>HGSSearchSourcePivotableTypes</key>
			<array/>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>KeychainItemsAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.yourcompany.action.KeychainItems</string>
			<key>HGSActionDirectObjectTypes</key>
			<array>
				<string>*</string>
			</array>
			<key>HGSExtensionUserVisibleName</key>
			<string>KeychainItems Action</string>
			<key>HGSExtensionIconImagePath</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
